/* .content-container {
  height: calc(100vh - 10%);
  width: 100vw;

  box-sizing: border-box;
  border: 1px solid white;
} */

.content-status-bar {
  width: 85%;
  height: 65px;
  margin: 20px 0px;

  background: var(--light-green);
  border-radius: 20px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.status-bar-text {
  font-size: calc(2vw * 1.35);
  height: 65px;

  color: var(--gunmetal);

  display: flex;
  justify-content: center;
  align-items: center;
}

.text-style {
  text-decoration: none;
  color: white;
  /* box-sizing: border-box;
  border: 1px solid white; */
  /* margin: 20px 10px; */
  /* padding: 2px; */
}

.text-style:hover {
  text-decoration: none;
  color: var(--light-green);
}

.content-text-area {
  color: white;
  font-size: 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 85%;
}
.content-text-area p {
  margin: 2% 0px;
}

/* Because I go on a bit of a necessary ramble */
.content-text-area-about-me {
  width: 90%;
  height: 80%;
  overflow-y: scroll;
  color: white;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.content-text-area-about-me p {
  margin: 1% 15px;
}

.list-alignment {
  width: 75%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
.list-alignment li {
  margin: 3px 0px;
}

.hyp-link {
  text-decoration: none;
  color: dodgerblue;
}

.projects-container {
  display: flex;
  /* justify-content: center;
  align-items: center; */

  /* width: 85%; */
}

.projects-card {
  height: 100px;
  width: 100%;
  background: red;
}