/* Desktop view first */

/* Everything crammed into the .nav-container
that's how we deal with switching positions for desktop/tablet/mobile */
/* 
.navbar-container {
  height: 10%;
  width: 100%;

  display: none;
}

@media only screen and (max-width: 412px) {
  .navbar-container {`
    display: wrap;
    justify-content: center;
    align-items: center;
  }
} */

.nav-button-container {
  height: 10%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid white;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-button {
  height: 50px;
  width: 95px;
  border-radius: 7px;
  background: var(--gunmetal);

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: var(--white);
}

.nav-button:hover {
  background: var(--light-green-hover);
}

#nav-button-bracket {
  font-size: 33px;
  margin: 0px 2px;
  color: white;
}
#nav-button-page {
  font-size: 18px;
  margin-top: 2px;
}

/* Handles different devices */
@media only screen and (max-width: 413px) {
  /* Mobile (Samsung S9+) */
  .nav-button {
    /* height: 50px;
    width: 95px;
    border-radius: 7px; */
    background: var(--light-green);

    /* display: flex;
    justify-content: center;
    align-items: center; */

    text-decoration: none;
    color: var(--gunmetal);
  }
}

/* 
@media only screen and (min-width: 412px) and (max-width: 1101px) {
  .nav-button {
    background: dodgerblue;
  }
} */