body {
  margin: 0px;
}

.container {
  position: flex;
  width: 100vw;
  height: 100vh;
  
  background: #2C363F;
}

.menu-button {
  position: absolute;
  width: 70px;
  height: 65px;

  margin-top: 30px;
  margin-left: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  background: #C5D86D;
  border-radius: 20px 0px;
  animation-duration: 2s;
}
.menu-button:hover {
  animation: bubble 1s forwards;
  /* animation-duration: 1s; */
  animation-name: move-position-effect;
}

@keyframes move-position-effect {
  from {padding-right: 0px;}
  to {padding-right: 50%;}
}

.menu-arrow {
  width: 26px;
  height: 0px;

  margin: 3px 0px;

  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  /* transform: rotate(-180deg); */
}


.nav-bar-item {
  width: 100px;
  height: 100px;
  background: white;
relative
relative
relative
relative
relativeffect;
relative
relative
relative
relative
/* 
position: absolute;
width: 26.02px;
height: 0px;
left: 313.02px;
top: 595px;

border: 3px solid #FFFFFF;
box-sizing: border-box;
transform: rotate(-180deg); */