<div class="footer-link">
  <a href="#">[GITHUB]</a>
</div>

<div class="footer-link">
  <a href="#">[LINKEDIN]</a>
</div>

<div class="footer-link">
  <i class="fas fa-mobile-alt"></i>
</div>

<div class="footer-link">
  <a href="#">[EMAIL]</a>
</div>