<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item navbar-button">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">{ "home" }</a>
  </li>
  <li class="nav-item navbar-button">
    <a class="nav-link" id="pills-about-me-tab" data-toggle="pill" href="#pills-about-me" role="tab" aria-controls="pills-about-me" aria-selected="true">{ "about" }</a>
  </li>
  <li class="nav-item navbar-button">
    <a class="nav-link" id="pills-projects-tab" data-toggle="pill" href="#pills-projects" role="tab" aria-controls="pills-projects" aria-selected="false">{ "code" }</a>
  </li>
  <li class="nav-item navbar-button">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">{ "contact" }</a>
  </li>
</ul>