<div class="content-panels">
  <div class="tab-content" id="pills-tabContent">
    
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    
    </div>

    <div class="tab-pane fade" id="pills-about-me" role="tabpanel" aria-labelledby="pills-about-me-tab">
    
    </div>

    <div class="tab-pane fade" id="pills-projects" role="tabpanel" aria-labelledby="pills-projects-tab">
    
    </div>
    
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    
    </div>
  </div>
</div>